<!DOCTYPE html>
<html lang="en">
    <head>
        <title>STAR Center - Door Signs</title>

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <div id="container-grid">
            <div id="header-grid">
                <div>
                    STAR Center Door Signs
                </div>
                <div id="min-btn" class="windowsButtons">
                    <i class="far fa-window-minimize"></i>
                </div>
                <div id="close-btn" class="windowsButtons">
                    <i class="far fa-window-close"></i>
                </div>
            </div>
            <div id="body-grid">
                <div id="list-panel">

                    <!--<div class="row-style">-->
                    <!--<div class="placeholder-color">-->
                    <!--MON-->
                    <!--</div>-->
                    <!--<div class="placeholder-color">-->
                    <!--Preschool-->
                    <!--</div>-->
                    <!--<div class="placeholder-color">-->
                    <!--9:00AM - 12:00PM-->
                    <!--</div>-->
                    <!--<div class="placeholder-color">-->
                    <!--TT-->
                    <!--</div>-->
                    <!--</div>-->

                </div>
                <div id="tools-panel">
                    <div id="tool-button-box">
                        <div id="new-event-button" class="toolButtonStyle">
                            <i class="far fa-plus-square"></i>
                        </div>
                        <div id="delete-event-button" class="toolButtonStyle">
                            <i class="far fa-trash-alt"></i>
                        </div>
                        <div id="save-event-button" class="toolButtonStyle">
                            <i class="far fa-save"></i>
                        </div>
                    </div>
                    <div id="input-box">
                        <div id="dotw-box">

                        </div>
                        <div id="title-box">
                            <label for="title">Event Title</label>
                            <br>
                            <input title="Title" type="text" name="title" id="title">

                        </div>
                        <div id="time-box">
                            <input title="Start Time" id="start-time" type="time">
                            <input title="End Time" id="end-time" type="time">
                            <!--<button id="test-time">Test</button>-->
                        </div>
                        <div id="room-box">

                        </div>
                        <div id="default-box">
                            <i class="far fa-check-square"></i>
                            <i class="fas fa-check-square"></i>
                        </div>
                        <div id="print-box">
                            Print
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </body>
    <script src="../js/app.js" ></script>
</html>